<div class="card-container">
  <h1 class="myName"><span>Built by:</span>Damir Durmo</h1>
  <h2 x-large class="myTitle">Full Stack Javascript Developer/ AWS Solution Architect</h2>
  <div class="tools">
    <h1>Built with:</h1>
    <!-- <img src="assets/img/react_icon.png" width="50px"> -->
    <img src="assets/img/aws_icon.png" width="50px">
    <img src="assets/img/angular_icon.png" width="50px">
    <img src="assets/img/node_icon.png" width="50px">
    <img src="assets/img/nginx_icon.png" width="50px">
    <img src="assets/img/docker_icon.png" width="50px">
  </div>
  <div>
    <!-- <h4>Local State</h4>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button md-raised-button color="primary">Submit Value</button>
    </form> -->
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <!-- <pre>this.localState = {{ localState | json }}</pre> -->

  </div>

</div>
